@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: black;
  /* position: fixed;
  z-index: 10;
  width: 100vw; */
}
.nav-menu{
  display: flex;
  width: 30%;
  /* border: 1px solid gold; */
  justify-content: space-around;
  color: white;
}
.search-field{
  padding: 3px;
  border: none;
  border-radius: 20px;
  text-indent: 10px;
  color: black;
}
.search-signin{
  color: white;
  width: 20%;
  display: flex;
  /* border: 1px solid gold; */
  justify-content: space-evenly;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
