@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
}
.nav-menu{
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: white;
}
.search-field{
  padding: 3px;
  border: none;
  border-radius: 20px;
  text-indent: 30px;
  color: black;
  position: relative;
  z-index: 9;
}
#search-icon #icon{
  position: absolute;
  top: 38px;
  z-index: 11;
  margin-left: 10px;
}
.search-signin{
  color: white;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

/************************main Content************/
.main-container{
  width: 85%;
  margin: 0 auto;
  margin-top: 140px;
  /* border: 1px solid red; */
}
.intro-section{
  width: 80%;
  margin: 60px auto;
  /* border: 1px solid red; */
  text-align: center;
}
.intro-section h1{
  font-weight: 700;
  font-size: 3em;
  color:rgb(206, 135, 5);
}

.card-container{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.product-card{
  margin: 15px;
}

/*****Footer******/
.footer-container{
  /* width: 85%; */
  margin: 0 auto;
  margin-top: 30px;
  background: black;
  color: white;
  padding: 20px;
}
.footer-column{
  display: flex;
  justify-content: space-evenly;
}
.copyrights-section{
  text-align: center;
  margin: 30px 20px 20px;
}



/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
